.Image-box-wrapper {
	width: 674px;
	margin: 0 auto;
}

.Image-box {
	width: 317px;
	height: 179px;
	float: left;
	margin: 0 10px;
}

.Image-center {
	position: relative;
	top: -50vh;
}

.Image-right {
	position: absolute;
	top: 40vh;
	left: 65vw;
}

.Image-impactable {
	position: absolute;
	top: 25vh;
	left: 57.5vw;
}

.Storyboard-wrapper {
	width: 879px;
	margin: 0 auto;
}

.Storyboard {
	width: 253px;
	height: 191px;
	float: left;
	margin: 0 20px;
}