Main  {
	text-align: center;
}

.Main-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
}

.Main-logo {
	height: 40vmin;
	pointer-events: none;
}

.Main-circle {
	height: 60vmin;
	pointer-events: none;
}

.Main-text {
	font-size: 3vh;
}

.Main-text-center {
	text-align: center;
	position: relative;
	top: 45vh;
}

.quarter-circle-small, .quarter-circle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: solid transparent;
	border-width: 2vw 0 0 2vw;
	z-index: -1;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.quarter-circle-small {
	width: 20vw;
	height: 20vw;
	border-radius: 20vw 0 0 0;
	-moz-border-radius: 20vw 0 0 0;
	-webkit-border-radius: 20vw 0 0 0;
	background-image: linear-gradient(#222A35, #222A35),
    linear-gradient(to right, #646a7266, #898d9366, #646a7266);

}

.quarter-circle {	
	width: 25vw;
	height: 25vw;
	border-radius: 25vw 0 0 0;
	-moz-border-radius: 25vw 0 0 0;
	-webkit-border-radius: 25vw 0 0 0;
	background-image: linear-gradient(#222A35, #222A35),
    linear-gradient(to right, #42495366, #646a7266, #42495366);
}