.Link-text {
	text-align: center;
	position: relative;
	top: 16vh;
	font-size: 8vh;
}

.Text-box {
	font-size: 4.5vw;
	font-style: italic;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: none;
	padding: 30px;
	word-break: break-all;
	background-color: #222A35;
}

.Text-box-small {
	font-size: 2vh;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: none;
	padding: 30px;
	word-break: break-all;
	color: #666666;
}