* {
	margin: 0;
}

.FullPage {
	margin: 0;
}

mark {
	color: yellow;	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: yellow;
}

.Number {
	margin: 4vh 4vh 4vh 4vh;
}

.Number-circle {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 14vh;
	width: 14vh;
}

.Number-text {
	text-align: center;
	position: relative;
	top: 3.5vh;
	left: -0.2vh;
	font-size: 5vh;
}

.btn-wrapper {
	margin-left: 5vw;
	vertical-align: middle;
}

.btn {
	font-size: 2vw;
	width: 12.5vw;
	height: 12.5vw;
	border-style: solid;
	border-width: 0.75vw;
	border-color: #EA5550;
	background-color: #222A35;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin: 0.25vw 0.25vw;
}

.btn2 {
	font-size: 2vw;
	width: 12.5vw;
	height: 12.5vw;
	border-style: none;
	background-color: #EA5550;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin: 0.25vw 0.25vw;
}

.btn:hover {
	background-color: #424953;
}

.btn2:hover {
	background-color: #424953;
}

.Video-source {
	display: flex;
	flex-direction: column;
}

.Video-source > iframe
{
	flex: 1 1 auto;
	height: 60vh;
}

.layoutView {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title {
	flex-grow: 0;
}

.content {
	margin: 6vh 6vh 6vh 6vh;
	flex-grow: 1;
	font-size: 6vh;
}