* {
	margin: 0;
}

body {
	margin: 0;
	white-space: pre-wrap;
	background-color: #222A35;
	color: white;
}

mark {
	background-color: #222A35;
	color: yellow;	
}

Main {
	text-align: center;
}

.Main-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
}

.Main-logo {
	height: 40vmin;
	pointer-events: none;
}

.Main-circle {
	height: 60vmin;
	pointer-events: none;
}

.Main-text {
	font-size: 3vh;
}

.Main-text-center {
	text-align: center;
	font-size: 3vh;
	position: relative;
	top: 45vh;
}

.Title-flex-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.Title-bar {
	box-sizing: border-box;
	border-radius: 2em;
	width: 50vw;
	height: 2.5vh;
	margin: 20px auto;
	background-color: #ea5550;
	flex-grow: 0.8;
	align-self: center;
	position: relative;
	top: 6vh;
	left: -4vw;
}

.Title-text {
	position: relative;
	top: -12vh;
	left: 1vw;
	font-size: 8vh;
	font-style: italic;
	vertical-align: bottom;
}

.Number {
	margin: 4vh 4vh 4vh 4vh;
}

.Number-circle {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 14vh;
	width: 14vh;
}

.Number-text {
	text-align: center;
	position: relative;
	top: 3.5vh;
	left: -0.2vh;
	font-size: 5vh;
}

.Link-text {
	text-align: center;
	position: relative;
	top: 16vh;
	font-size: 8vh;
}

.Center-text {
	font-size: 8vh;
	font-style: italic;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Image-box-wrapper {
	width: 674px;
	margin: 0 auto;
}

.Image-box {
	width: 317px;
	height: 179px;
	float: left;
	margin: 0 10px;
}

.Storyboard-wrapper {
	width: 819px;
	margin: 0 auto;
}

.Storyboard {
	width: 253px;
	height: 191px;
	float: left;
	margin: 0 10px;
}

.Image-right {
	float: right;
	transform: translate(0%, -50%);
}

.layoutView {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title {
	flex-grow: 0;
}

.content {
	margin: 6vh 6vh 6vh 6vh;
	flex-grow: 1;
	font-size: 6vh;
}